<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&family=Barlow:wght@700&family=Manrope&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
		<link href="../static/css/main.css?v=1.0.0" rel="stylesheet" />

		<title>
			Age Group
		</title>
	</head>

	<body>
		<div class="container">
			<div class="one">
				<div class="Question">
					What is the age-group that is most likely affected by gaming anxiety?
				</div>
				<div class = "sub-right_panel">
					<div class="three">
					</div>
					<div class="four" id="gref">
						<div class="gref">
						</div>
					</div>
				</div>
			</div>

			<div class="header">
				
			</div>

			<div class = "right_panel">
				<div class="AgeImg">
				
				</div>
				<div class = "sub-right_panel">
					<div class="DYK">
						Did you know?
					</div>
					<div class="Info">
						Age is divided into five sub-groups: 18 to 25, 26 to 33, 34 to 40, 41 to 48, and 49 to 56. While 
						gamer anxiety does not appear to vary much among the first four subgroups, the final group composing 
						of the oldest individuals (49-56) are known to bear significantly lower anxiety levels than that of 
						younger individuals. This is surprising considering studies have shown that anxiety in general becomes 
						more common with old age, and is more commonly found in middle aged-adults (36 to 55). This can be 
						attributed to individuals experiencing more stress-inducing events at this age (Guarnotta, 2020). Thus, 
						it can be inferred that the gaming anxiety experienced by individuals aged 49 to 56 is relatively low, as 
						videogames serve as their temporary getaway from these stressful events.
					</div>
				</div>
			</div>
			
			<div class="name">
				
			</div>
			
			<a href=Gender>
				<div class="five">
				</div>
			</a>
		</div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph1 = {{ graph1JSON | safe}};
			Plotly.plot("gref", graph1, {})
		</script>
	</body>
</html>
