<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&family=Barlow:wght@700&family=Manrope&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
		<link href="../static/css/main.css?v=1.0.0" rel="stylesheet" />

		<title>
			Age Group
		</title>
	</head>

	<body>
		<div class="container">
			<div class="one">
				<div class="Question">
					What is the age-group that is most likely affected by gaming anxiety?
				</div>
				<div class = "sub-right_panel">
					<div class="three">
					</div>
				</div>
				<div class="four" id="gref">
					<div class="gref">
					</div>
				</div>
			</div>

			<div class="header">
				
			</div>

			<div class = "right_panel">
				<div class="AgeImg">
				
				</div>
				<div class = "sub-right_panel">
					<div class="DYK">
						Did you know?
					</div>
					<div class="Info" style="text-align:justify">
						Age is divided into five sub-groups: 18 to 25, 26 to 33, 34 to 40, 41 to 48, and 49 to 56. 
						For the first question, it was observed that the scores of gamers between the ages of 18 to 33 are nearly equally distributed when it comes to the GAD, SPIN, and SWL questionnaires.
						Meanwhile, people who are above 33 years of age would score low in the GAD and SPIN questionnaire and have a middle to high score in the SWL questionnaire. 
						This indicates that when it comes to age, gamers above the age of 33 have a lower anxiety result than those below. 
						This could be due to younger gamers focusing most of their time and energy on gaming, as opposed to older gamers who mostly game only during their spare time - away from dealing with real life responsibilities such as work. 
						With spending more time playing, younger gamers also tend to set higher in-game goals for themselves, and tend to be stressed when they fail to accomplish these goals. (Mosley, 2021)

					</div>
				</div>
			</div>
			
			<div class="name">
				
			</div>
			
			<a href=Gender>
				<div class="five">
				</div>
			</a>
		</div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph1 = {{ graph1JSON | safe}};
			Plotly.plot("gref", graph1, {})
		</script>
	</body>
</html>
