<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Barlow:wght@700&family=Manrope&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
		<link href="../static/css/main.css?v=1.0.0" rel="stylesheet" />

		<title>
			Document
		</title>
	</head>

	<body>
		<div class="v19_2">
			<div class="v19_3" id="gref">
				
			</div>
			<div class="v21_15">
				Overall Game Anxiety Levels
				<div id = desc style="text-align:justify">
					Feel free to experiment with different inputs for age, gender, reason for playing, and playstyle on this screen!
					Avoid leaving the age input blank! In case the chart does not appear once you have submitted your inputs, it means
					that the data does not match with any data in the database for those specific inputs (sorry!).
				</div>
			</div>
			<form id="finalForm" method = "POST" >
				<div class="v22_17">
					<div class="v22_22">
						Age:
					</div>
					<div class="v22_27">
						<input name="age_input", type="number" class = "age_input">
					</div>
				</div>
				<div class="v22_21">
					<div class="v22_23">
						Gender:
					</div>
					<div class="v22_30">
						<select name="gender_input" method="GET" action="/Final" class = "final_input">
							<option value="{{choices_gender[0]}}" selected>{{choices_gender[0]}}</option>
							{% for gender in choices_gender[1:] %}
								<option value="{{gender}}">{{gender}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="v22_20">
					<div class="v22_24">
						Playstyle:
					</div>
					<div class="v22_31">
						<select name="playstyle_input" method="GET" action="/Final" class = "final_input">
							<option value="{{choices_playstyle[0]}}" selected>{{choices_playstyle[0]}}</option>
							{% for playstyle in choices_playstyle[1:] %}
								<option value="{{playstyle}}">{{playstyle}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="v22_19">
					<div class="v22_25">
						Reason: 
					</div>
					<div class="v22_32">
						<select name="reason_input" method="GET" action="/Final" class = "final_input">
							<option value="{{choices_reasons[0]}}" selected>{{choices_reasons[0]}}</option>
							{% for reason in choices_reasons[1:] %}
								<option value="{{reason}}">{{reason}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class = "button_div">
					<input id = "submission", type ="submit">
				</div>
			</form>
		</div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph5 = {{ graph5JSON | safe}};
			Plotly.plot("gref", graph5, {})
		</script>
	</body>
</html>