<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&family=Barlow:wght@700&family=Manrope&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
		<link href="../static/css/main.css?v=1.0.0" rel="stylesheet" />

		<title>
			Gender
		</title>
	</head>

	<body>
		<div class="container">
			<div class="one">
				<div class="Question">
					Does the gender of the individual gamer affect gaming anxiety?
				</div>
				<div class = "sub-right_panel">
					<div class="three">
						<div class="dropdown">
						</div>
					</div>
				</div>
				<div class="four" id="gref">
					<div class="gref">
					</div>
				</div>
			</div>

			<div class="header">
				
			</div>

			<div class = "right_panel">
				<div class="GenderImg">
				
				</div>
				<div class = "sub-right_panel">
					<div class="DYK">
						Did you know?
					</div>
					<div class="Info">
						Gender is divided among three sub-groups: males, females and other. According to the data, 
						females and those identifying as genders classified under the "other" sub-group are those
						who are more likely to experience gaming anxiety. This can be due to them being treated 
						differently than their male peers when gaming. Female gamers are more often to report receiving
						negative treatment such as harassment, and toxic behavior than males (McLean & Griffiths, 2019) 
						According to the World Health Organization (WHO), they are also more likely to be diagnosed with 
						anxiety disorders than that of men.
					</div>
				</div>
			</div>
			
			<div class="name">
				
			</div>
			
			<a href=Playstyle>
				<div class="five">
				</div>
			</a>
			<a href=ageGroup>
				<div class = "six">
				</div>
			</a>
		</div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph2 = {{ graph2JSON | safe}};
			Plotly.plot("gref", graph2, {})
		</script>
	</body>
</html>
