<!DOCTYPE html>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Barlow:wght@700&family=Manrope&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
		<link href="../static/css/main.css?v=1.0.0" rel="stylesheet" />
		{% if title %}
			<title>DATANVI_Grp1-{{title}}</title>
		{% else %}
			<title>DATANVI_Grp1</title>
		{% endif %}
	</head>

	<body>
		<div class="v2_2">
			<div class="v2_4">
				
			</div>

			<div class = "center_container">
				<a href=ageGroup>
					<div class="v3_7">	
					</div>
				</a>
				<div class="v2_8">
					GAMER ANXIETY
				</div>
				<div class="v3_3">
The gaming community is expanding especially during the pandemic since people tend to prefer staying indoors and this form of entertainment in the form of
electronic video games captivates the market of people who seek entertainment from the comfort of
their own home. Video games tend to touch all aspects of sensory experiences through different mediums ranging from virtual
reality to portable mobile devices. However, being in front of a screen for much longer than you usually would can have a number of
unforeseen effects on someone that isn’t used to it, especially when playing a game they can get very engrossed in.
				</div>
				<b id = "subtext">When you are ready, click on the controller icon above to see gamer anxiety statistics</b>
			</div>
		</div>
	</body>
</html>