<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&family=Barlow:wght@700&family=Manrope&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
		<link href="../static/css/main.css?v=1.0.0" rel="stylesheet" />

		<title>
			Document
		</title>
	</head>

	<body>
		<div class="container">
			<div class="one">
				<div class="Question">
					How does the playstyle affect the gamer’s anxiety levels?
				</div>
				<div class="three">
					<div class="dropdown">
					</div>
				</div>
				<div class="four" id="gref">
					<div class="gref">
					</div>
				</div>			
			</div>

			<div class="header">
				
			</div>

			<div class = "right_panel">
				<div class="styleImg">
				
				</div>
				<div class="DYK">
					Did you know?
				</div>
				<div class="Info">
					Among the several playstyles listed, individuals who play Singleplayer games are observed 
					to have higher anxiety levels than those in other categories. Those who play singleplayer
					games can deem them to be more stressful than multiplayer games (both online and offline)
					due the inability to receive any help from other players while in-game, which can be
					especially frustrating during the difficult sections or levels of the game.
				</div>
			</div>
			
			<div class="name">
				
			</div>
			
			<a href=Reason>
				<div class="five">
				</div>
			</a>
			<a href =Gender>
				<div class  ="six">
				</div>
			</a>
		</div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph3 = {{ graph3JSON | safe}};
			Plotly.plot("gref", graph3, {})
		</script>
	</body>
</html>