<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&family=Barlow:wght@700&family=Manrope&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
		<link href="../static/css/main.css?v=1.0.0" rel="stylesheet" />

		<title>
			Reason
		</title>
	</head>

	<body>
		<div class="container">
			<div class="one">
				<div class="Question">
					How does the reason for playing affect the gamer’s anxiety levels?
				</div>
				<div class = "sub-right_panel">
					<div class="three">
						<div class="dropdown">
						</div>
					</div>
				</div>
				<div class="four" id="gref">
					<div class="gref">
					</div>
				</div>
			</div>

			<div class="header">
				
			</div>

			<div class = "right_panel">
				<div class="reasonImg">
				
				</div>
				<div class = "sub-right_panel">
					<div class="DYK">
						Did you know?
					</div>
					<div class="Info" style="text-align:justify">
						For the third question, all game reasons seem to have an even distribution in the scores for all questionnaires. This could mean that gaming reasons do not create a significant effect on the anxiety of gamers. The reason for gaming can vary between gamers regardless of the type of game they are playing or their personality. 

					</div>
				</div>
			</div>
			
			<div class="name">
				
			</div>
			
			<a href=Final>
				<div class="five">
				</div>
			</a>
			<a href =Playstyle>
				<div class  ="six">
				</div>
			</a>
		</div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph4 = {{ graph4JSON | safe}};
			Plotly.plot("gref", graph4, {})
		</script>
	</body>
</html>
