<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&family=Barlow:wght@700&family=Manrope&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
		<link href="../static/css/main.css?v=1.0.0" rel="stylesheet" />

		<title>
			Reason
		</title>
	</head>

	<body>
		<div class="container">
			<div class="one">
				<div class="Question">
					How does the reason for playing affect the gamer’s anxiety levels?
				</div>
				<div class = "sub-right_panel">
					<div class="three">
						<div class="dropdown">
						</div>
					</div>
					<div class="four" id="gref">
						<div class="gref">
						</div>
					</div>
				</div>
			</div>

			<div class="header">
				
			</div>

			<div class = "right_panel">
				<div class="reasonImg">
				
				</div>
				<div class = "sub-right_panel">
					<div class="DYK">
						Did you know?
					</div>
					<div class="Info">
						Reasons behind playing video games vary greatly from person-to-person.
						For the purpose of this project, the reasons were generalized and divided
						into six sub-groups: relaxing, winning, improving, having fun, all of the above
						and others. While the difference in gaming anxiety among the different 
						afforementioned playstyles is very miniscule, the data shows that those who
						play to have fun are less affected by gamer anxiety compared to those who play
						to win. The overly competitive nature and expectation of winning can be the cause
						of higher anxiety levels among gamers.
					</div>
				</div>
			</div>
			
			<div class="name">
				
			</div>
			
			<a href=Final>
				<div class="five">
				</div>
			</a>
			<a href =Playstyle>
				<div class  ="six">
				</div>
			</a>
		</div>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>
			var graph4 = {{ graph4JSON | safe}};
			Plotly.plot("gref", graph4, {})
		</script>
	</body>
</html>
